{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex align-items-center">
            <a class="navbar-brand brand-logo" href="../../index.html">
                <img src="assets/backend/images/logo.svg" alt="logo" class="logo-dark" />
            </a>
            <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="assets/backend/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
            <h5 class="mb-0 font-weight-medium d-none d-lg-flex">Welcome To Campy!</h5>
            <ul class="navbar-nav navbar-nav-right ml-auto">
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="icon-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <div class="profile-image">
                            <img class="img-xs rounded-circle" src="assets/backend/images/faces/face8.jpg" alt="profile image">
                            <div class="dot-indicator bg-success"></div>
                        </div>
                        <div class="text-wrapper">
                            <p class="profile-name">LAZRAG Zied</p>
                            <p class="designation">Administrator</p>
                        </div>
                        <div class="icon-container">
                            <i class="icon-bubbles"></i>
                            <div class="dot-indicator bg-danger"></div>
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="/ReadMateriel">
                        <span class="menu-title">Read Materiel</span>
                        <i class="icon-globe menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/AddMateriel">
                        <span class="menu-title">Add Materiel</span>
                        <i class="icon-book-open menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Statistique">
                        <span class="menu-title">Stats</span>
                        <i class="icon-chart menu-icon"></i>
                    </a>
                </li>
            </ul>
        </nav>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Ajouter materiel</h4>
                                <p class="card-description"> Merci de compléter ce formulaire pour poster votre matériel à vendre ! </p>
                                    {{ form_start(form ,{attr:{novalidate:'novalidate'}}) }}
                                <label for="exampleInputName1">Nom</label>
                                    <!--<div class="form-group">
                                        <label for="exampleInputName1">Nom</label>-->
                                        {{ form_widget(form.nom ,{ 'attr':{"placeholder":'Titre du matériel',
                                        "class":'Nom'}}) }}
                                    {{ form_errors(form.nom ,{ 'attr':{'class':'text-danger'}}) }}
                                        <!--<input type="text" class="form-control" id="exampleInputName1" placeholder="Nom de matériel">
                                    </div>-->
                                <label for="exampleInputName2">Quantite</label>
                                    {{ form_widget(form.quantite ,{ 'attr':{"placeholder":'Quantite du matériel',
                                        "class":'Quantite'}}) }}
                                {{ form_errors(form.quantite ,{ 'attr':{'class':'text-danger'}}) }}
                                    <!--<div class="form-group">
                                        <label for="exampleInputName2">Quantite</label>
                                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Quantité de matériel">
                                    </div>-->
                                <label for="exampleInputName3">Prix</label>
                                    {{ form_widget(form.prix ,{ 'attr':{"placeholder":'prix de lunité',
                                        "class":'Prix'}}) }}
                                {{ form_errors(form.prix ,{ 'attr':{'class':'text-danger'}}) }}
                                    <!--<div class="form-group">
                                        <label for="exampleInputName3">Prix</label>
                                        <input type="text" class="form-control" id="exampleInputName3" placeholder="Prix de l'unité">
                                    </div>-->
                                <label for="exampleInputName4">Etat</label>
                                    {{ form_widget(form.etat ,{ 'attr':{"placeholder":'letat du matériel',
                                        "class":'Etat'}}) }}
                                {{ form_errors(form.etat ,{ 'attr':{'class':'text-danger'}}) }}
                                    <!--<div class="form-group">
                                        <label for="exampleInputName4">Etat</label>
                                        <input type="text" class="form-control" id="exampleInputName4" placeholder="l'état de l'unité">
                                    </div>-->
                                <label for="exampleTextarea1">Description</label>
                                    {{ form_widget(form.description ,{ 'attr':{"placeholder":'description du matériel',
                                        "class":'Description', "rows":'4'}}) }}
                                {{ form_errors(form.description ,{ 'attr':{'class':'text-danger'}}) }}
                                    <!--<div class="form-group">
                                        <label for="exampleTextarea1">Description</label>
                                        <textarea class="form-control" id="exampleTextarea1" rows="4" placeholder="decriver votre matériel"></textarea>
                                    </div>-->
                                    <div class="form-group">
                                        <!--<label>Image</label>-->
                                        <!--<input type="file" name="img[]" class="file-upload-default">-->
                                        <div class="input-group col-xs-12">
                                            {{ form_row(form.image ,{ 'attr':{ 'placeholder':"Upload Image" , 'class':'file-upload-browse btn btn-primary'
                                            }}) }}

                                            <!--<input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">-->
                                            <!--<span class="input-group-append">
                                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                            </span>-->
                                        </div>
                                    </div>
                                    {{ form_widget(form) }}
                                    <!--<button type="submit" class="btn btn-primary mr-2">Add</button>-->
                                    <!--<button class="btn btn-light">Cancel</button>-->
                                    {{ form_end(form) }}
                            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
    {% endblock %}