{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex align-items-center">
                <a class="navbar-brand brand-logo" href="index.html">
                    <img src="assets/backend/images/logo.svg" alt="logo" class="logo-dark" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/backend/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
                <h5 class="mb-0 font-weight-medium d-none d-lg-flex">Welcome To Campy!</h5>
                <ul class="navbar-nav navbar-nav-right ml-auto"></ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="profile-image">
                                <img class="img-xs rounded-circle" src="assets/backend/images/faces/face8.jpg" alt="profile image">
                                <div class="dot-indicator bg-success"></div>
                            </div>
                            <div class="text-wrapper">
                                <p class="profile-name">LAZRAG Zied</p>
                                <p class="designation">Administrator</p>
                            </div>
                            <div class="icon-container">
                                <i class="icon-bubbles"></i>
                                <div class="dot-indicator bg-danger"></div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item nav-category">
                        <span class="nav-link">Dashboard</span>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link " href="/ReadMateriel">
                            <span class="menu-title">Read Materiel</span>
                            <i class="icon-globe menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/AddMateriel">
                            <span class="menu-title">Add Materiel</span>
                            <i class="icon-book-open menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Statistique">
                            <span class="menu-title">Stats</span>
                            <i class="icon-chart menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-sm-flex align-items-center mb-4">
                                        <h4 class="card-title mb-sm-0">Liste des matériels</h4>
                                    </div>
                                    <div class="table-responsive border rounded p-1">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="font-weight-bold">Materiel ID</th>
                                                <th class="font-weight-bold">Nom</th>
                                                <th class="font-weight-bold">Quantite</th>
                                                <th class="font-weight-bold">Prix</th>
                                                <th class="font-weight-bold">Etat</th>
                                                <th class="font-weight-bold">Delete & Reset</th>
                                                <th class="font-weight-bold">Edit</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr {% for i in materiel %}>
                                                <td>{{ i.getIdMateriel() }}</td>
                                                <td>{{ i.getNom() }}</td>
                                                <td>{{ i.getQuantite() }}</td>
                                                <td>{{ i.getPrix() }}</td>
                                                <td>{{ i.getEtat }}</td>
                                                <td><a href="{{ path('delete',{'id':i.getIdMateriel()}) }}" class="btn btn-outline-warning btn-icon-text" > Delete & Reset <i class="icon-reload btn-icon-prepend"></i></a></td>
                                                <td><a href="{{ path('update',{'id':i.getIdMateriel()}) }}" class="btn btn-outline-secondary btn-icon-text"> Edit <i class="icon-doc btn-icon-append"></i></a></td>
                                            </tr {% endfor %} >
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © campy.com 2022</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
{% endblock %}