<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
        <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
        <link href="{{ asset('assets/frontend/dist/css/tabler.min.css?1649661161') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/frontend/dist/css/tabler-flags.min.css?1649661161') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/frontend/dist/css/tabler-payments.min.css?1649661161') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/frontend/dist/css/tabler-vendors.min.css?1649661161') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/frontend/dist/css/demo.min.css?1649661161') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/frontend/dist/css/tabler-buttons.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/frontend/dist/libs/nouislider/distribute/nouislider.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/frontend/dist/libs/flatpickr/dist/flatpickr.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/frontend/dist/libs/selectize/dist/css/selectize.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/frontend/dist/libs/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet"/>
    {% endblock %}

    {% block javascripts %}
        <script defer data-domain="preview.tabler.io" src="https://plausible.io/js/plausible.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113467793-4"></script>
        <!-- Libs JS -->
        <script src="{{ asset('assets/frontend/dist/libs/apexcharts/dist/apexcharts.min.js?1649661161') }}" defer></script>
        <script src="{{ asset('assets/frontend/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}" defer></script>
        <script src="{{ asset('assets/frontend/dist/libs/jsvectormap/dist/js/jsvectormap.min.js?1649661161') }}" defer></script>
        <script src="{{ asset('assets/frontend/dist/libs/jsvectormap/dist/maps/world.js?1649661161') }}" defer></script>
        <script src="{{ asset('assets/frontend/dist/libs/jsvectormap/dist/maps/world-merc.js?1649661161') }}" defer></script>
        <!-- Tabler Core -->
        <script src="{{ asset('assets/frontend/dist/js/tabler.min.js?1649661161') }}" defer></script>
        <script src="{{ asset('assets/frontend/dist/js/demo.min.js?1649661161') }}" defer></script>
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>